body {
    font-family: Arial, sans-serif;
    margin: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 28px;
}

p {
    font-size: 18px;
}

@media (max-width: 576px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 14px;
    }
}

@media (min-width: 577px) and (max-width: 992px) {
    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
    }
}

@media (min-width: 993px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        font-size: 18px;
    }
}

.boxes {
    display: flex;
    gap: 20px;
}

.box {
    flex: 1;
    background-color:brown;
    padding: 40px;
    text-align: center;
    font-size: 20px;
}

@media (min-width: 577px) and (max-width: 992px) {
    .boxes {
        flex-wrap: wrap;
    }

    .box {
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 576px) {
    .boxes {
        flex-direction: column;
    }
}

.grid-box {
    background-color: lightyellow;
    padding: 40px;
    margin: 10px 0;
    text-align: center;
    font-size: 20px;
}